<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.reset.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<p th:text="#{email.activation.greeting}">
</p>
<p th:text="#{email.reset.text1}">
</p>
<p>
    <a th:href="@{|http://${baseUrl}/api/uaa/auth/resetPassword?key=${user.passwordResetKey}|}"
       th:text="@{|Ссылка для сброса пароля|}">Reset Link</a>
</p>
<p>
    <span th:text="#{email.reset.text2}">Expire time 10 minutes</span>
</p>
</body>
</html>
